{% load static %}
<head>
    <head>
        <link rel="stylesheet" href="{% static 'styles/kendo.common.min.css' %}" />
        <link rel="stylesheet" href="{% static 'styles/kendo.material-main-dark.min.css' %}" />
        <link rel="stylesheet" href="{% static 'styles/todo.css' %}"/>
        <script src="{% static 'js/jquery.min.js' %}"></script>
        <script src="{% static 'js/kendo.all.min.js' %}"></script>
    </head>
</head>

<div id="content-main">
    {{ event_id|json_script:"event_id" }}
<form id="donation-form">
</form>
    {% csrf_token %}
    <script>
        function getCookie(name) {
            let cookieValue = null;
            if (document.cookie && document.cookie !== '') {
                const cookies = document.cookie.split(';');
                for (let i = 0; i < cookies.length; i++) {
                    const cookie = cookies[i].trim();
                    // Does this cookie string begin with the name we want?
                    if (cookie.substring(0, name.length + 1) === (name + '=')) {
                        cookieValue = decodeURIComponent(cookie.substring(name.length + 1));
                        break;
                    }
                }
            }
            return cookieValue;
        }
        const csrftoken = getCookie('csrftoken');
        $("#donation-form").kendoForm({
        orientation: "vertical",
        items: [{
            type: "group",
            label: "Make a Restricted Donation",
            timezone: "Etc/UTC",
            items: [
                {field: "currency", label: "Donation Amount", validation: {required: true},
                    editor: function(container, options) {
                        container.append($("<input id='currency' class='.k-numerictextbox .k-input' type='number' name='Donation Amount' title='currency' value='50' min='0' max='1000000000' style='width: 100%;' required='required' data-bind='value:currency' />"))
                        $("#currency").kendoNumericTextBox({
                            format: "c",
                            decimals: 3
                        });
                    }
                },
            ]
        }],
        validateField: function(e) {
        },
        submit: function(e) {
            e.preventDefault();
            var $currency = $('#currency');
            var id = JSON.parse(document.getElementById('event_id').textContent);
            console.log(id);
            var vals = {
                'currency': $currency.val(),
                'id': id
            };
            $.ajax({
                type: "POST",
                url: "/client/make_restricted_donation/",
                headers: {'X-CSRFToken': csrftoken},
                data: vals,
                contentType: "application/x-www-form-urlencoded",
                success: function(response) {
                    alert("donation made successfully!");
                    location.reload();
                }
            });
            return false;
        },
        clear: function(ev) {
        }
     });
    </script>
</div>