<html>
<div id = volunteer>
    {% if perms.nonprofit.can_volunteer %}
    <div id="horizontal">
        <div id="left-pane">
            <div class="pane-content">
                <h3>My Events</h3>
                <div id="mygrid"></div>
            </div>
        </div>
        <div id="right-pane">
            <div class="pane-content">
                <h3>Events Needing Volunteers</h3>
                <div id="grid"></div>
            </div>
        </div>
    </div>
        <h2>
        {% load static %}
            <script src="{% static 'volunteer.js' %}"></script>
        </h2>
    {% else %}
        <body><div><h2>Please sign in or create account to volunteer for an event!</h2></div></body>
    {% endif %}
</div>
</html>